services:
  database:
    ports:
      - "5432:5432"

  php:
    image: php:8.2-cli
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    command: php -S 0.0.0.0:8000 -t public
    ports:
      - "8000:8000"
    depends_on:
      - database
