{# Formulaire pour supprimer une catégorie qui envoie une requête vers le controlleur category_delete #}
<form method="post" action="{{ path('category_delete', {'id': category.id}) }}">

    <input type="hidden" name="_method" value="DELETE">

    {# Bouton supprimer avec confirmation #}
    <button class="btn btn-sm btn-danger"
            onclick="return confirm('Supprimer cette catégorie ?')">
        Supprimer
    </button>

</form>
