{# Formulaire de suppression d’un article qui envoie une requête POST vers la route article_delete#}

<form method="post" action="{{ path('article_delete', {'id': article.id}) }}">
    
    <input type="hidden" name="_method" value="DELETE">

    {# Bouton de suppression #}
    <button class="btn btn-sm btn-danger"
            onclick="return confirm('Supprimer cet article ?')">
        Supprimer
    </button>

</form>
